<main id="main">
    <div id="content">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-link" href="/" onclick="goTo('cv'); return false;">Резюме</a>
            <a class="nav-link active" href="/map" onclick="goTo('map'); return false;">Карта</a>
            <a class="nav-link" href="/timer" onclick="goTo('timer'); return false;">Таймер</a>
        </nav>
        <br>
        <h1>Карта</h1>
        <script>
            setTimeout(function () {
                document.querySelector('.preloader').classList.add("preloader-remove");
            }, 2000)
        </script>
        <div class="preloader">
            <div class="preloader-4">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div id="map" style="height: 580px;"></div>
        <script>
            const mapOptions = {
                center: [56.7333, 37.1667],
                zoom: 12
            };

            const map = new L.map('map', mapOptions);
            const layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
            const marker = new L.Marker([56.753429, 37.164175]);

            map.addLayer(layer);
            marker.addTo(map);
        </script>
    </div>
</main>