<main id="main">
    <div id="content">
        <nav class="nav nav-pills nav-fill">
            <a class="nav-link" href="/" onclick="goToCV(); return;">Резюме</a>
            <a class="nav-link" href="/map" onclick="goToMap(); return;">Карта</a>
            <a class="nav-link active" href="/timer" onclick="goToTimer(); return;">Таймер</a>
        </nav>
        <br>
        <h1>Таймер</h1>
        <div style="border-bottom: solid 3px yellow"></div>
        <div class="timer">
            <div class="timer__items">
                <div class="timer__item timer__hours">00</div>
                <div class="timer__item timer__minutes">00</div>
                <div class="timer__item timer__seconds">00</div>
            </div>
        </div>
        <div style="border-bottom: solid 3px yellow"></div>
        <script>
            (function load() {

                let counter = makeCounter();

                function declensionNum(num, words) {
                    return words[(num % 100 > 4 && num % 100 < 20) ? 2 : [2, 0, 1, 1, 1, 2][(num % 10 < 5) ? num % 10 : 5]];
                }

                function makeCounter() {
                    return function () {

                        const hours = Math.floor(timeSpentOnSite / 60 / 60);
                        const minutes = Math.floor(timeSpentOnSite / 60) % 60;
                        const seconds = timeSpentOnSite % 60;

                        $hours.textContent = hours < 10 ? '0' + hours : hours;
                        $minutes.textContent = minutes < 10 ? '0' + minutes : minutes;
                        $seconds.textContent = seconds < 10 ? '0' + seconds : seconds;

                        $hours.dataset.title = declensionNum(hours, ['час', 'часа', 'часов']);
                        $minutes.dataset.title = declensionNum(minutes, ['минута', 'минуты', 'минут']);
                        $seconds.dataset.title = declensionNum(seconds, ['секунда', 'секунды', 'секунд']);
                    };
                }

                const $hours = document.querySelector('.timer__hours');
                const $minutes = document.querySelector('.timer__minutes');
                const $seconds = document.querySelector('.timer__seconds');
                counter();
                setInterval(counter, 1000);
            })()
        </script>
    </div>
</main>