<nav class="nav nav-pills nav-fill">
    <a class="nav-link <% if (active === 'cv') { %> active <% } %>" href="/" onclick="goToCV(); return;">Резюме</a>
    <a class="nav-link <% if (active === 'map') { %> active <% } %>" href="/map" onclick="goToMap(); return;">Карта</a>
    <a class="nav-link <% if (active === 'timer') { %> active <% } %>" href="/timer" onclick="goToTimer(); return;">Таймер</a>
</nav>
<br>
<h1><%= title %></h1>