<nav class="nav nav-pills nav-justified">
    <a class="nav-link <% if (active === 'cv') { %> active <% } %>" href="/">CV</a>
    <a class="nav-link <% if (active === 'map') { %> active <% } %>" href="#">Map</a>
    <a class="nav-link <% if (active === 'timer') { %> active <% } %>" href="#">Timer</a>
</nav>
<br>
<h1><%= title %></h1>