<%- include('partials/header'); %>
<%- include('partials/nav'); %>
<div style="border-bottom: solid 3px yellow"></div>
<div class="timer">
    <div class="timer__items">
        <div class="timer__item timer__hours">00</div>
        <div class="timer__item timer__minutes">00</div>
        <div class="timer__item timer__seconds">00</div>
    </div>
</div>
<div style="border-bottom: solid 3px yellow"></div>
<style>
    .timer
    {
        width: 25%;
        margin: 0 auto;
    }

    .timer__items {
        display: flex;
        justify-content: center;
        font-size: 300%;
    }

    .timer__item {
        position: relative;
        min-width: 60px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 15px;
        text-align: center;
    }

    .timer__item::before {
        content: attr(data-title);
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-size: 14px;
    }

    .timer__item:not(:last-child)::after {
        content: ':';
        position: absolute;
        right: -15px;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        let counter = makeCounter();

        function declensionNum(num, words) {
            return words[(num % 100 > 4 && num % 100 < 20) ? 2 : [2, 0, 1, 1, 1, 2][(num % 10 < 5) ? num % 10 : 5]];
        }

        function makeCounter() {
            let current = 0;

            return function() {

                const hours = Math.floor(current / 60 / 60);
                const minutes = Math.floor(current / 60) % 60;
                const seconds = current % 60;

                $hours.textContent = hours < 10 ? '0' + hours : hours;
                $minutes.textContent = minutes < 10 ? '0' + minutes : minutes;
                $seconds.textContent = seconds < 10 ? '0' + seconds : seconds;

                $hours.dataset.title = declensionNum(hours, ['час', 'часа', 'часов']);
                $minutes.dataset.title = declensionNum(minutes, ['минута', 'минуты', 'минут']);
                $seconds.dataset.title = declensionNum(seconds, ['секунда', 'секунды', 'секунд']);

                return current++;
            };
        }

        const $hours = document.querySelector('.timer__hours');
        const $minutes = document.querySelector('.timer__minutes');
        const $seconds = document.querySelector('.timer__seconds');
        counter();
        setInterval(counter, 1000);
    });
</script>
<%- include('partials/footer'); %>